<h1>Pokemons here</h1>
<div id="teamCont">
  {{#if pokemons}}
    <h2>Your PokeTeam!</h2>
    {{#each pokemons}}
      <h3>{{this.name}}</h3>
      <p>{{this.id}}</p>
      <img src="{{this.img}}" alt="Pokemon image of {{this.name}}">
    {{/each}}
  {{else}}
    <h2>You have no pokemons at the moment. Try and catch some!</h2>
  {{/if}}
</div>

<button id="getPoke" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Generate Pokemons</button>
<div id="pokeCont">

</div>
<script src="/scripts/indexPage.js">
</script>